*.tests
node_modules
# Directories
apachepoi
excel-reader-xlsx
jxls-*
openpyxl
pyExcelerator
xlrd
roo
roo-xls
spout-ods
spout-xlsx
spreadsheet-parsexlsx
oo34xml
ootest
libreoffice
# Excel Files
apachepoi_*.x*
excel-reader-xlsx_*.x*
jxls-*_*.x*
openpyxl_*.x*
pyExcelerator_*.x*
xlrd_*.x*
roo_*.x*
roo-xls_*.x*
spout-ods_*.x*
spout-xlsx_*.x*
spreadsheet-parsexlsx_*.x*
oo34xml_*.x*
ootest_*.x*
libreoffice_*.x*
# Other Formats
apachepoi_*.ods
excel-reader-xlsx_*.ods
jxls-*_*.ods
openpyxl_*.ods
pyExcelerator_*.ods
xlrd_*.ods
roo_*.ods
roo-xls_*.ods
spout-ods_*.ods
spout-xlsx_*.ods
spreadsheet-parsexlsx_*.ods
oo34xml_*.ods
ootest_*.ods
